@import './styles/_colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: $yellow;
  font-size: 55px;
}

.error__text {
  color: $red;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
